/* Search.css */
.search-form {
    display: flex;
    justify-content: center;
    margin-top:2em;
    margin-bottom: 2em;
  }
  
  .search-form input {
    padding: 0.5em;
    width: 300px;
    margin-right: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-form button {
    padding: 0.5em 1em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-form button:hover {
    background-color: #555;
  }
  
  .book-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  